@charset "UTF-8";
/* CSS Document */

/* asterisk selector overrides everything, even body
*{
    margin: 0;
    padding: 0;
}
*/

/*ALL PAGES*/

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 48px;
    color: #F99820;
    text-align: center;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 20px;
}

li {
    font-size: 20px;
}

a {
    color:#2081F9;
}

a:hover {
    color:#1A457C;
}

a:active {
    color:#1A457C;
}

a.whitelink {
    color: #FFFFFF;
}

a.whitelink:hover {
    color: #BBBBBB;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color:#1A457C;
    padding: 20px;
    width: 100%;
}

#logo {
    width: 120px;
    height: 53px;
    display: inline;
}

a.navigation {
    color:#FFFFFF;
    text-decoration: none;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
}

a.navigation:hover {
    text-decoration: underline;
}

.topimage {
    width: 100%;
}

footer {
    background-color: #1A457C;
    padding: 20px;
    color: #FFFFFF;
    text-align: center;
}

/*MULTIPLE PAGES*/

section {
    padding: 0px 100px;
    text-align: center;
}

article {
    margin: 0 5% 5% 5%;
    display: flex;
}

.smallimage {
    width: 480px;
    height: 320px;
    margin: 50px;
}

.bluelisting {
    display: flex;
    margin: 30px 5%;
    border-radius: 50px;
    background-color:#c9e0fc;
}

.orangelisting {
    display: flex;
    margin: 30px 5%;
    border-radius: 50px;
    background-color:#ffe2c3;
}

.listingimage {
    width: 480px;
    height: 320px;
    /*margin: 50px;*/
}

.listingtext {
    margin: 0 30px;
}

/*HOME PAGE ONLY*/
/*make the orange and blue feature boxes be vertical (flex?)boxes with three elements: an empty paragraph (top), the content (middle), and another empty paragraph
(bottom), then you can vertical align them center*/

#homepagefeature1 {
    display: flex;
    margin-bottom: 25px;
    color: #FFFFFF;
    flex-direction: row-reverse;
}

#homepagefeature2 {
    display: flex;
    margin-bottom: 25px;
    color: #FFFFFF;
}

.homepagefeatureimg {
    width: 50%;
}

#homepagefeaturetext1 {
    background-color:#F99820;
    width: 45%;
    padding: 20px;
    padding-top: 120px;
    text-align: center;
    border-radius: 50px 0px 0px 50px;
}

#homepagefeaturetext2 {
    background-color:#2081F9;
    width: 45%;
    padding: 20px;
    padding-top: 120px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px 50px 50px 0px;
}

