@charset "UTF-8";
/* CSS Document */

body {
    font-family: "halcom", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.7em;
    background-color: darkblue;
    
}

#wrapper {
    padding: 0 5% 1% 5%;
    background-color: azure;
    float: left;
    width: 85%;
    margin: 1% 1% 1% 1%;
}

h1 {
    font-family: "oskar", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
}

h3 {
    color: mediumblue;
    font-size: 25px;
}

.line {
    background-color: mediumblue;
    padding: 2px;
}

.feature {
    padding: 10px;
}

h3.feature {
    float: left;
    margin: 10px;
    width: 150px;
}

p.feature {
    background-color: lightskyblue;
    padding-left: 200px;
    padding-bottom: 15px;
}